body {
    background-color: #363940;
    display: flex;
    height: 100vh;
    align-items: center;
    justify-content: center;
    margin: 0px;
}

form {
    display: flex;
    flex-direction: column;
    background-color: #FFFFFF;
    padding: 32px;
    min-width: 540px;
    border-radius: 5px;
}

.form-label {
    margin: 0.5rem 0 0.3rem;
}

.selects {
    display: flex;
    gap: 8px;
}

.btn-limpar {
    border: 1px solid lightgray;
}

.botoes {
    margin: 0.5rem 0;
}

.h1 {
    font-size: 24px;
}
